#footer-Content .copyright {
    margin-top: 0px; 
}

#footer-Content {
     padding-top: 0px; 
}

#services .services-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form#contactForm input[type=password] {
    min-height: 52px;
    padding: 0px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

nav.br{
	display: flex;
    justify-content: center;
}
nav.br ol.breadcrumb{
	background-color: transparent;
	margin-bottom: 0px;
}
nav.br ol.breadcrumb li a{ 
	color:white;
}

nav.br ol.breadcrumb li{ 
	color:white;
}

nav.br .breadcrumb-item+.breadcrumb-item::before {
	color:white;
	}

.pembatas-kiri{
	border-left: 1px solid #dedede;
}

.menu-bg-on-top {
    background: #5533ff;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%) !important;
    z-index: 9999;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#footer-Content .copyright p {
    font-size: 14px;
}

#footer-Content .copyright {
    padding: 15px 0;
}

#team .single-team {
    background: white;
}

.feature-icon-detail i {
    font-size: 30px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 18%;
}

.feature-icon-detail {
        background: #e3fff2;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    border: 1px solid #3ecf8e;
}

@media(max-width: 766px){
    .pembatas-kiri{
        border-left: none;
        margin-top:30px;
    }
}

.input-khusus{
        min-height: 52px;
    padding: 0px 0 0 28px;
    font-size: 16px;
    color: #5e629c;
}

.wysiwyg span {
    display: inline;
}

@media (max-width: 480px){
  #features .feature-item .feature-icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #features .feature-item .feature-icon i {
    position: initial;
  }

  #features .feature-item {
    padding: 20px ;
  }
}
a.thumbs{
    color:inherit;
}
.thumbs.like.selected{
    color:blue;
}

.thumbs.dislike.selected{
    color:red;
}