.selectize-input{
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
     border-radius: 0px !important; 
}

.row-zone{
	display: flex;
	justify-content: center;
}
p#klinik-center{
	width:50%;
}

@media (max-width: 992px){
	.row-zone{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	p#klinik-center{
		width:90%;
	}
}
.btn-zone{
	padding:20px;
	margin: 0px 30px;
	display:flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-zone img{
	width:100px;
}

.skin-green .main-header .navbar {
    background: #5533ff;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%) !important;
}

.skin-green .main-header .logo:hover {
    background: #5533ff;
}

.skin-green .main-header .logo {
	background: #5533ff;
}

.logo{
	padding-top: 100px;
}

.diamond{
}
.diamond:after {
    content: "";
    position: absolute;
    background: #5533ff;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%) !important;
    height:330px;width:100%;
    z-index: -1;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

.login-box-body, .register-box-body, .box {
    border: 1px solid #5533ff !important;
}

hr.black{
	border-top: 1px solid #000;
}

.empty-layout{
	background-color: #fff;
}

.cursor-pointer{
	cursor:pointer;
}

.side-icon{
	width: 26px !important;
}

.disable-margin{
	margin:0 !important;
}

.disable-margin-top{
	margin-top:0 !important;
}

.disable-margin-left{
	margin-left:0 !important;
}

.disable-margin-right{
	margin-right:0 !important;
}

.disable-margin-bottom{
	margin-bottom:0 !important;
}

.margin-top5{
	margin-top:5px !important;
}

.margin-top10{
	margin-top:10px !important;
}

.margin-right5{
	margin-right:5px !important;
}

.margin-right10{
	margin-right:10px !important;
}

.margin-left5{
	margin-left:5px !important;
}

.margin-left10{
	margin-left:10px !important;
}

.margin-bottom5{
	margin-bottom:5px !important;
}

.margin-bottom10{
	margin-bottom:10px !important;
}

.disable-padding{
	padding:0 !important;
}

.disable-padding-top{
	padding-top:0 !important;
}

.disable-padding-left{
	padding-left:0 !important;
}

.disable-padding-right{
	padding-right:0 !important;
}

.disable-padding-bottom{
	padding-bottom:0 !important;
}

.padding-top5{
	padding-top:5px !important;
}

.padding-top10{
	padding-top:10px !important;
}

.padding-right5{
	padding-right:5px !important;
}

.padding-right10{
	padding-right:10px !important;
}

.padding-left5{
	padding-left:5px !important;
}

.padding-left10{
	padding-left:10px !important;
}

.padding-bottom5{
	padding-bottom:5px !important;
}

.padding-bottom10{
	padding-bottom:10px !important;
}

@media only screen and (max-width : 500px) {
	.header-title{
		display:none !important;
	}
}

.jam_biaya{
	 width:100px !important;
}

div.control-label{
	text-align: left !important;
}

td.control-label{
	text-align: left !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    border-top-color: #5533ff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #5533ff;
}

#a-time-clock{
	cursor: context-menu !important;
}

#time-clock{
    color: white;
    text-align:  right;
    cursor: context-menu;
}


/*.header-title (max-width: 400px){
	width:auto !important;
	background-color: #f39c12 !important;
	float:left !important;
}*/

.feature-icon i {
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
}

.feature-icon {
    background: #e3fff2;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
    border: 1px solid #3ecf8e;
    margin-top: 12px;
}

.skin-green .main-header li.user-header {
    background: linear-gradient(95deg, #379bf8 10%, #25ddf5 100%) !important;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.wysiwyg span {
    display: inline;
}
